
body {
    background-color: rgb(28, 28, 28);
}

.deprecated {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
}

.logging-in {
    animation: logging 1s infinite linear;
}

@keyframes logging {
    from {
        opacity: .5;
    } 
    to {
        opacity: 1;
    }
}